.name{
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--color-five);
}
.text-left{
    text-align: justify;
}
.meaning{
    opacity: .9;
    border-bottom: 1px solid gray;
    font-weight: 500;
}
.para{
    opacity: .9;
    line-height: 1.8rem;
    padding: 20px 0px;
    font-weight: 500;
}